<div class="form-container">
  <div *ngIf="currentStep === 1" class="form-card">
    <h2>Parent/Guardian One</h2>
    <form>
      <div class="input-container">

        <input type="text" id="name1" [(ngModel)]="parentGuardianOne.name" name="name1" required placeholder="Name">

        <input type="tel" id="phone1" [(ngModel)]="parentGuardianOne.phone" name="phone1" required placeholder="Phone Number">

        <input type="email" id="email1" [(ngModel)]="parentGuardianOne.email" name="email1" placeholder="Email">
      </div>

      <div class="button-container">
        <button type="button" (click)="goToNextStep()">Next</button>
      </div>
    </form>
  </div>

  <div *ngIf="currentStep === 2" class="form-card">
    <h2>Parent/Guardian Two</h2>
    <form>
      <div class="input-container">

        <input type="text" id="name2" [(ngModel)]="parentGuardianTwo.name" name="name2" placeholder="Name" required>

        <input type="tel" id="phone2" [(ngModel)]="parentGuardianTwo.phone" name="phone2" placeholder="Phone Number" required>

        <input type="email" id="email2" [(ngModel)]="parentGuardianTwo.email" name="email2" placeholder="Email">

      </div>

      <div class="button-container">
        <button type="button" (click)="goToPreviousStep()">Back</button>
        <button type="button" (click)="goToNextStep()">Next</button>
      </div>
    </form>
  </div>

  <div *ngIf="currentStep === 3" class="form-card">
    <h2>Emergency Contact</h2>
    <form>

      <div class="input-container">

        <input type="text" id="name3" [(ngModel)]="emergencyContact.name" name="name3" placeholder="Name" required>

        <input type="tel" id="phone3" [(ngModel)]="emergencyContact.phone" name="phone3" placeholder="Phone Number" required>

        <input type="email" id="email3" [(ngModel)]="emergencyContact.email" name="email3" placeholder="Email">

      </div>

      <div class="button-container">
        <button type="button" (click)="goToPreviousStep()">Back</button>
        <button type="button" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
</div>

<router-outlet />
